<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @todo.name %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= @todo.task %>
  </p>

  <%= link_to 'Edit', edit_todo_path(@todo), class:"btn btn-info" %>
  <%= link_to 'Back', todos_path, class:"btn btn-secondary" %>
</div>

